*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.head{
    overflow: hidden;
}
img{
    width: 100%;
    height: 100%;
    max-height: 25vh;
    object-fit: cover;
}
.inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.login{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 0;
    gap: 2rem;
}
fieldset{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: none;
}
/* input{
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 10px 5px;
} */
input[type="email"], input[type="password"]{
    border: 0;
    box-shadow: 0 0 0 1px #aaa;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}
input[type="email"]:focus, input[type="password"]:focus{
    box-shadow: 0 0 0 3px #1877F2;
    outline: none;
}
.btn{
    /* width: 100%; */
    padding: 10px 5px;
    background-color: rgb(0, 110, 255);
    border-radius: 5px;
    color: white;
    border: none;
}
.head-icon{
    width: 50px;
    fill: rgb(0, 76, 218);
}
.sns{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 0;
    border-top: 1px solid #9c9c9c;
    position: relative;
    gap: 1rem;
}
.sns-list{
    width: 100%;
    padding: 10px 15px;
    background-color: #aaa;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    fill: white;
    color: white;
    text-decoration: none;
}
h3{
    text-align: center;
    position: absolute;
    top: -18px;
    left: -80px;
    margin-left: 50%;
    background-color: white;
    padding: 5px 10px;
    font-size: 16px;
    color: #555555;

}
/* .line{
    width: 100%;
    height: 1px;
    background-color: #333;
} */
.icon{
    width: 20px;
    margin-right: 10px;
}
.sns-list:has(.twitter){
    background-color: rgb(0, 119, 230);
}
.sns-list:has(.facebook){
    background-color: #1877F2;
}
.sns-list:has(.naver){
    background-color: #03C75A;
}
.sns-list:has(.kakao){
    background-color: #FFCD00;
}
.sns-list:has(.git){
    background-color: rgb(24, 24, 24);
}
/* .sns-list:nth-child(1){
    background-color: rgb(0, 119, 230);
}
.sns-list:nth-child(2){
    background-color: #1877F2;
}
.sns-list:nth-child(3){
    background-color: #03C75A;
}
.sns-list:nth-child(4){
    background-color: #FFCD00;
    color: black;
    fill: black;
}
.sns-list:nth-child(5){
    background-color: rgb(24, 24, 24);
} */

@media (min-width: 1024px){
    .container{
        display: flex;
        flex-direction: row-reverse;
    }
    .head{
        flex-basis: 50%;
        height: 100vh;
        /* object-fit: cover; */
    }
    img{
        flex-basis: 50%;
        /* height: 100%; */
        max-height: 100vh;
        
    }
    .inner{
        width: 50%;  
    }
    .sns{
        display: flex;
        flex-direction: row;
    }
    .sns-list{
        width: 50px;
        padding: 0.8srem 1rem;
    }
    span{
        /* position: absolute;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        overflow: hidden; */
        display: none;
    }
}