*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;   /* 이미지 비율 맞지 않을때 보여지는 모습 */
    border-radius: 200px;
}

.gallery{
    display: flex;
    max-width: 100%;
    height: 100vh;
    gap: 10px; /* 간격조절 */

}

.gallery figure{
    flex-basis: calc(100% / 5);
    flex-grow: 2;    
}

.gallery figure img{
    filter: grayscale(100%); 
}

figure:hover{
    flex-basis: 40%;
    transition: all 1s ease;
    opacity: 0.5;
}
figure:hover img{
    filter: grayscale(0) blur(2px);
    transition: all 1s ease;
}
